{
  "name": "SAmvc",
  "env": "local",
  "debug": true,
  "url": "http://localhost/",
  "db": {
    "type": "mysql",
    "host": "localhost",
    "port": "3306",
    "name": "SAmvc",
    "user": "root",
    "pass": ""
  },
  "hash_key": "1t2gr82bHaShED",
  "language": "en",
  "mail": {
    "host": "smtp.mailgun.org",
    "user": "mailgunusername",
    "pass": "mailgunpassword"
  }
}
